<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Cele mai bune produse de birotică și papetărie, cele mai cool rechizite școlare,cele mai cunoscute carti">
        <meta name="keywords" content="librărie, școala, papetărie, rechizite">
        <%- include("../Fragmente/head.ejs") %>
    </head>
    <body id='variabile'>
        <%- include("../Fragmente/header.ejs") %>
        <main>
            <h2>Log out</h2>
           <p>Ai fost delogat!</p>
        </main>
        <%- include("../Fragmente/footer.ejs") %>
    </body>
</html>