<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> RalUnivers - Universul tuturor </title>
<meta charset="UTF-8">
<meta name="author" content="Lăpăduș Raluca">
<link href="/Resurse/Css/main.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/grid.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/grid_mic.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/grid_mediu.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/navigation_bar.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/home_btn.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/tab_iframe.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/tab_iframe_mediu.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/pag_eroare.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/footer.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/scss/nav.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/nav_mediu.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/nav-500.css" rel="stylesheet" type="text/css" media="screen and (max-width: 650px)" />
<link href="/Resurse/Css/link_top.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/despre_noi.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/printare.css" rel="stylesheet" type="text/css" media="print" />
<!-- <link href="Resurse\Css\galerie_dinamica.css" rel="stylesheet" type="text/css"/> -->
<link href="/Resurse/Css/galerie_animata.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/galerie_static_mic.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/galerie_static_medie.css" rel="stylesheet" type="text/css" />
<link href="/Resurse/Css/galerie_static.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" type="image/x-icon" href="/Resurse/Imagini/favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
<link href="/Resurse/Css/cookies.css" rel="stylesheet" type="text/css" />
<script src="/Resurse/Js/tema.js"></script>
<script src="/Resurse/Js/cookies.js"></script>